.text div {
	display: inline-block;
}

.text{
	margin-bottom: 20px;
}

.letter-container{
	margin-left: 15px;
	position: relative;
}

.yellow .letter{
	background: #FFE600;
}

.letter{
	background-color: #00B0B7;
	height: 100px;
	width: 25px;
	
}

.parallelogram-letter{
	display: inline-block;
	width: 25px;
	-webkit-transform: skew(15deg); 
	-moz-transform: skew(15deg); 
	-o-transform: skew(15deg);
}

.parallelogram-letter-inv{
	width: 25px;
	-webkit-transform: skew(-20deg); 
	-moz-transform: skew(-20deg); 
	-o-transform: skew(-20deg);
}

.horizontal-letter{
	height: 20px;
	width: 60px;
}

.yellow .circuar-letter{
	border: 20px solid #FFE600;
	border-left-color: transparent;
	background:transparent;
}

.circuar-letter{
	background: transparent; 
	border: 20px solid #00B0B7;
	border-left-color: transparent;
	height: 20px; 
	width: 30px; 
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	border-radius: 50px;
}

/* Letter Specific Styles */

.M2, .A1{
	border-right: 3px solid #FFF;
	z-index: 1;
}

.yellow .M2, .yellow .A1{
	border-right: 3px solid #00B0B7;
}

.A3{
	bottom: 15;
	left: 0;
	position: absolute;
}

.K{
	width: 60px;
}

.K2{
	bottom: 35px;
	height: 65px;
	left: 25px;
	position: absolute;
	-moz-transform: skew(-35deg); 
	-o-transform: skew(-35deg);
	-webkit-transform: skew(-35deg); 
}

.K3{
	bottom: 0px;
	height: 50px;
	left: 30px;
	position: absolute;
	-webkit-transform: skew(35deg); 
	-moz-transform: skew(35deg); 
	-o-transform: skew(35deg);
}

.E{
	width: 55px;
}

.E2, .E3, .E4{
	left: 0px;
	position: absolute;
	top: 0;
}

.E3{
	top: 40px;
}

.E4{
	top: 80px;
}

.R{
	height: 100px;
	width: 50px;
}

.R1{
	border-right: 3px solid #FFF;
	left:0;
	position: absolute;
	top: 0;
	z-index: 1;
}

.yellow .R1{
	border-right: 3px solid #00B0B7;
}

.R2{
	left: -5;
	position: absolute;
	top: 0;
}

.R3{
	bottom: 0px;
	height: 45px;
	left: 35px;
	position: absolute;
	-webkit-transform: skew(30deg); 
	-moz-transform: skew(30deg); 
	-o-transform: skew(30deg);
}

.P{
	height: 100px;
	width: 50px;
}

.P1{
	border-right: 3px solid #FFF;
	position: absolute;
	left:0;
	top: 0;
	z-index: 1;
}

.yellow .P1{
	border-right: 3px solid #00B0B7;
}

.P2{
	left: -5;
	position: absolute;
	top: 0;
}

.T{
	height: 100px;
	width: 70px;
}

.T1{
	left: 0;
	position: absolute;
	top: 0;
	width: 70px;
}

.T2{
	left: 20px;
	position: absolute;
}

.Y{
	height: 100px;
	width: 60px;
}

.Y1{
	height:60px; 
	left: 5px;
	position: absolute;
	top: 0;
	-webkit-transform: skew(30deg); 
	-moz-transform: skew(25deg); 
	-o-transform: skew(30deg);
}

.Y2{
	height:60px; 
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transform: skew(-30deg); 
	-moz-transform: skew(-25deg); 
	-o-transform: skew(-30deg);
	border-left: 5px solid #FFF;
}

.yellow .Y2{
	border-left: 3px solid #00B0B7;
}

.Y3{
	bottom: 0;
	height: 40px;
	left: 21px;
	position: absolute;
}
