.text div {
	display: inline-block;
}

.text{
	margin-bottom: 20px;
}

.letter-container{
	margin-left: 15px;
	position: relative;
}
.letter{
	width: 25px;
	height: 100px;
	background-color: #00B0B7;
}
.parallelogram-letter{
	display: inline-block;
	width: 25px;
	-webkit-transform: skew(15deg); 
	-moz-transform: skew(15deg); 
	-o-transform: skew(15deg);
}

.parallelogram-letter-inv{
	width: 25px;
	-webkit-transform: skew(-20deg); 
	-moz-transform: skew(-20deg); 
	-o-transform: skew(-20deg);
}

.horizontal-letter{
	height: 20px;
	width: 60px;
}

.circuar-letter{
	width: 30px; 
	height: 20px; 
	background: transparent; 
	border: 20px solid #00B0B7;
	border-left-color: transparent;
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	border-radius: 50px;
}

.rotate5{
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
.rotate10{
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
.rotate15{
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	transform: rotate(-15deg);
}

/* Letter Specific Styles */

.M2, .A1{
	border-right: 3px solid #fff;
	z-index: 1;
}
.A3{
	position: absolute;
	bottom: 15;
	left: 0;
}
.K{
	width: 60px;
}
.K2{
	position: absolute;
	height: 65px;
	bottom: 35px;
	left: 25px;
	-webkit-transform: skew(-35deg); 
	-moz-transform: skew(-35deg); 
	-o-transform: skew(-35deg);
}
.K3{
	position: absolute;
	bottom: 0px;
	left: 30px;
	height: 50px;
	-webkit-transform: skew(35deg); 
	-moz-transform: skew(35deg); 
	-o-transform: skew(35deg);
}

.E{
	width: 55px;
}

.E2, .E3, .E4{
	position: absolute;
	left: 0px;
	top: 0;
}
.E3{
	top: 40px;
}
.E4{
	top: 80px;
}
.R{
	width: 50px;
	height: 100px;
}
.R1{
	z-index: 1;
	border-right: 3px solid white;
	position: absolute;
	top: 0;
	left:0;
}
.R2{
	position: absolute;
	left: -5;
	top: 0;
}
.R3{
	position: absolute;
	bottom: 0px;
	left: 35px;
	height: 45px;
	-webkit-transform: skew(30deg); 
	-moz-transform: skew(30deg); 
	-o-transform: skew(30deg);
}
.P{
	width: 50px;
	height: 100px;
}
.P1{
	z-index: 1;
	border-right: 3px solid white;
	position: absolute;
	top: 0;
	left:0;
}
.P2{
	position: absolute;
	left: -5;
	top: 0;
}

.T{
	width: 70px;
	height: 100px;
}
.T1{
	position: absolute;
	top: 0;
	left: 0;
	width: 70px;
}
.T2{
	position: absolute;
	left: 20px;
}


.Y{
	width: 60px;
	height: 100px;
}

.Y1{
	height:60px; 
	position: absolute;
	top: 0;
	left: 5px;
	-webkit-transform: skew(30deg); 
	-moz-transform: skew(25deg); 
	-o-transform: skew(30deg);
}

.Y2{
	height:60px; 
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transform: skew(-30deg); 
	-moz-transform: skew(-25deg); 
	-o-transform: skew(-30deg);
	border-left: 5px solid white;
}

.Y3{
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 21px;
}
