.hexagon{
	margin: 0 auto;
	width: 560px;
}
.hexagon .top{
	border-bottom: 180px solid #00B0B7;
	border-left: 280px solid transparent;
	border-right: 280px solid transparent;
	width: 0;

}
.hexagon .bottom{
	border-top: 180px solid #00B0B7;
	border-left: 280px solid transparent;
	border-right: 280px solid transparent;
	width: 0;
}
.hexagon .center{	
	background-color: #00B0B7;
	height: 240px;
	width: 560px;
}