.hexagon{
	width: 560px;
	margin: 0 auto;
}
.hexagon .top{
	width: 0;
	border-bottom: 180px solid #00B0B7;
	border-left: 280px solid transparent;
	border-right: 280px solid transparent;

}
.hexagon .bottom{
	width: 0;
	border-top: 180px solid #00B0B7;
	border-left: 280px solid transparent;
	border-right: 280px solid transparent;
}
.hexagon .center{
	width: 560px;
	height: 240px;
	background-color: #00B0B7;
}